.student {
    width: 600px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
}

.left {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.right {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.NameClass {
    margin: 0px;
    padding: 0px;
}

.UniversityClass {
    margin: 0px;
    padding: 0px;
}

.Score {
    font-size: 23px;
    font-weight: bold;
    color: limegreen;
}

.leaders {
    font-size: 35px;
}

.addScore {
    border: none;
    background-color: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: -3px;
    left: 7px;
    cursor: pointer;
}

.minusScore {
    border: none;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: -2px;
    left: 10px;
    cursor: pointer;

}

.minusScore:hover,
.addScore:hover {
    background-color: black;
}